<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitob Do'koni</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1>Kitob Do'koni</h1>
</header>

<div class="navbar">
    <a href="index1.html">Bosh Sahifa</a>
    <a href="blogs.html">Kitoblar</a>
    <a href="detail.html">Yangi kitob qo`shish</a>
    <a href="#">Aloqa</a>
</div>
<div class="book-container">
    <!-- Kitob 1 -->
    <div class="book">
        <form action="#" >
        <input class="input1" type="text" name="name" placeholder="kitob nomini kiriting " required>
        <input class="input1" type="text" name="muallif" placeholder="Muallif nomi " required>
        <input class="input1" type="number" name="price" placeholder="Narxini kiriting" required>
        <button>Yig'ish</button>
        </form>
    </div>
</div>
<footer>
    <p>© 2025 Kitob Do'koni. Barcha huquqlar himoyalangan.</p>
</footer>
</body>
</html>
